.container {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  color: var(--contrast-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
